<section>
<h2><%= @work.title %></h2>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<p> <%= @work.description %></p>
<section>Buttons go here: Back to media ranks/edit/update/delete</section>
</section>



