/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import "**/*";
// application page header
.app-header__header {
  background-color: #b2dfdb;
  padding: 32px, 16px, 8px, 16px;
}


#app-title a {
  color: #fc5f2e;
  font-weight: 100px;
  text-decoration: none;
  padding: 0, 25px, 0, 0;
  border: 0, 2px, 0, 0;
  margin: 0, 8px, 0, 0;
}
// .nav-item {
//   color: red;
//   margin: 16px, 32px, 0, 0;
// }

// .nav-link {
//   padding: 8px, 16px, 8px, 16;

// }

li a {
  color: red;
}

h1 {
  background-color: Black;
  margin: 25px, 0, 40px, 0;
}



.top-ten h2 {
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}

.top-ten-creator {
  color: #bbc3cb
}

h2, h3, h4, h5 {
  color:  #47ada4;
}

// a {
//   color: #47ada4;
//   text-decoration: none;
//   // font-weight: 900;
// }



ul {
  list-style-type: none;
}


// show page
.media-details {
  color: blue
}